<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<link  href="/sCSS/Theme2/default/elements.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />
<link  href="/sCSS/Theme2/default/common.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />
<link  href="/css/assistive.css" media="aural,braille,embossed" rel="stylesheet" type="text/css" />
<style>
/* Bank */
.searchResults .custom16 .primaryPalette, .searchResults .custom16 .secondaryPalette { background-color: #BFAF00;  border-color: #BFAF00; }
.customTab16 .primaryPalette, .customTab16 .secondaryPalette { background-color: #BFAF00;  border-color: #BFAF00; color: #ffffff; }
.customTab16 .tertiaryPalette { background-color: #BFBC5A;  border-color: #BFBC5A; }
.customTab16 .tab .currentTab { background-image: url(/dimg/leftBFAF00.gif); }
.customTab16 .tab .currentTab div { background-image: url(/dimg/rightBFAF00.gif); }
.customTab16 .tabNavigation { background-image: url(/dimg/bgBFAF00.gif); }

.custom16 .mruIcon { background-image: url(/img/icon/bank16.gif);
	width:16px;
	height:16px; }
.customTab16 .pageTitleIcon { background-image: url(/img/icon/bank32.png);
	width:32px;
	height:32px; }
.custom16 .relatedListIcon { background-image: url(/img/icon/bank24.png);
	width:24px;
	height:24px; }
</style>

<script type="text/javascript" src="/js/functions.js"></script>
<script src="/soap/ajax/8.0/connection.js" type="text/javascript"></script>


<script type="text/javascript">

function isNumeric(sText){

   var ValidChars = "0123456789.";
   var IsNumber = true;
   var Char;


   for (i = 0; i < sText.length && IsNumber == true; i++)
      {
      Char = sText.charAt(i);
      if (ValidChars.indexOf(Char) == -1)
         {
         IsNumber = false;
         }
      }
   return IsNumber;
}

function getNotes(queryAppend) {

    //function contains all code to execute after page is rendered
    var state = { //state that you need when the callback is called
    output : document.getElementById("output"),
    startTime : new Date().getTime()};

    var callback = {
        //call layoutResult if the request is successful
        onSuccess: layoutResults,
        //call queryFailed if the api request fails
        onFailure: queryFailed,
        source: state
    };
		var query = "Select n.Title, n.ParentId,n.Parent.Type,n.Parent.Name,n.LastModifiedDate, n.LastModifiedById, n.Id, n.CreatedDate, n.CreatedById, n.CreatedBy.Name,n.LastModifiedBy.name From Note n";
        //var query = "Select a.Id,a.ContentType,a.ParentId,a.Parent.Type,a.Parent.Name,a.OwnerId, a.Owner.Name, a.Name, a.LastModifiedDate, a.BodyLength From Note a ";
        if(queryAppend!=null) query += queryAppend;
        sforce.connection.batchSize="1000";
        //alert(query);
        state.output.innerHTML = "...Updating Records...";
        //alert("Call");
        sforce.connection.query(query,callback);
        resizeIframe();
}

function filterNotes(){
    var sort = document.filter.sort.value;
    var order = document.filter.order.value;
    var isDeleted = document.filter.isDeleted.value;
    var isPrivate = document.filter.isPrivate.value;
    var ff1 = document.filter.filterField1.value;
    var fv1 = trim(document.filter.filterValue1.value);
    var ff2 = document.filter.filterField2.value;
    var fv2 = trim(document.filter.filterValue2.value);
    
    var query = null;
	
	//Is Deleted Filter
    if(isDeleted == "true"){
   		query = " WHERE isDeleted = true ";
    }
    else if(isDeleted == "false"){
    	query = " WHERE isDeleted = false ";
    }
    
    //Is Private Filter
    if(isPrivate == "true"){
    	if(query != null){
    		query += " AND isPrivate = true ";
    	}else{
    		query = " WHERE isPrivate = true "
    	}
    }
    else if(isPrivate == "false"){
    	if(query != null){
    		query += " AND isPrivate = false ";
    	}else{
    		query = " WHERE isPrivate = false ";
    	}
    }
   	
   	//Filter #1
   	if(ff1 != "none" && fv1 != ""){
   		if(query == null){
   		 	query = " WHERE ";
   		}
   		else { 
   			query += " AND  "; 
   		}
   		
   		query += ff1;
   		query += " = '";
   		query += fv1;
   		query += "'";
   		
   		
   	}
   	
   	//Filter #2
   	if(ff2 != "none" && fv2 != ""){
   		if(query == null){
   		 	query = " WHERE ";
   		}
   		else { 
   			query += "  AND  "; 
   		}
   		
   		query += ff2;
   		query += " = '";
   		query += fv2;
   		query += "'";
   	}
   
   	//Sort Filter
    if(sort!="none"){
    	if(query == null) query = " ";
        query += "  ORDER BY  ";

        query += sort;
        query += " ";
        query += order;
    }
   //alert(query);
        getNotes(query);
}

function resizeIframe(){
	//alert("ResizeIframe().. resize called");
   var iframe = parent.document.getElementById('itarget');
    if(window.addEventListener) {
        window.addEventListener("resize", resizeIframecaller, false);
        window.addEventListener("load", resizeIframecaller, false);
    } else {
        window.attachEvent("resize", resizeIframecaller);
        window.attachEvent("load", resizeIframecaller);
    }
    var height = document.body.scrollHeight;
  	var width = document.body.scrollWidth;
    iframe.style.height = (height + 50) + 'px';
}

function resizeIframecaller(){
resizeIframe();
}
function queryFailed(error, source) {
    source.output.innerHTML = "An error has occurred: " + error;
    resizeIframe();
}

/**
* This method will be called when the toolkit receives a successful
* response from the server.
* @queryResult - result that server returned
* @source - state passed into the query method call.
*/
function layoutResults(queryResult, source) {
    if (queryResult.size > 0) {
        var output = '<table class="list" border="0" cellspacing="0" cellpadding="0" width="100%">';
        output += '<tr class="headerRow">';
        output += '<th class="actionColumn" scope="col"><input value="" title="Toggle All Rows" onclick="javascript:SelectAllOrNoneByCheckbox(document.forms[';
        output += "'Notes'";
        output += '],';
        output += "'notes'";
        output += ', this);" id="allBox" name="allBox" type="checkbox">&nbsp;</th>';
        output += '<th scope="col" class="">Title</th>';
        output += '<th scope="col" class="">Parent Name</th>';
        output += '<th scope="col" class="">Parent Type</th>';
        output += '<th scope="col" class="">Last Modified By</th>';
        output += '<th scope="col" class="">Last Modified Date</th>';
        output += '<th scope="col" class="">Created By</th>';
        output += '<th scope="col" class="">Created Date</th>';
        output += '</tr>';

    //get the records array
    var records = queryResult.getArray('records');

    var tabIndex = 0;
    //loop through the records and construct html string
    for (var i = 0; i < records.length; i++) {
        var note = records[i];
        rowClass = 'dataRow';
        if(i%2 == 0) rowClass +=' even ';
        else rowClass += ' odd ';
        if (i == 0) rowClass += ' first';
        else if(i == (records.length - 1)) rowClass += ' last ';
        output += '<tr id="" class="' + rowClass + '" onblur="if (window.hiOff){hiOff(this);}" onfocus="if (window.hiOn){hiOn(this);}" onmouseout="if (window.hiOff){hiOff(this);}" onmouseover="if (window.hiOn){hiOn(this);}">';
        output += '<td class="actionColumn" width="25"><input value="'+note.Id+'" onclick="javascript:updateToggleAllBox(this.form,';
        output += "'notes'";
        output += ');" id="notes'+i+'" name="notes" type="checkbox"></td>';
        output += '<td class="dataCell"><a href="/'+note.Id+'" target="_blank">'+ note.Title + '</a></td>';
        output += '<td class="dataCell"><a href="/' + note.ParentId + '" target="_blank">' + note.Parent.Name + '</a></td>';
        output += '<td class="dataCell">' + note.Parent.Type + '</td>';
        output += '<td class="dataCell"><a href="/' + note.LastModifiedById + '" target="_blank">' + note.LastModifiedBy.Name + '</a></td>';
        output += '<td class="dataCell DateElement">' + note.getDateTime('LastModifiedDate') + '</td>';
        output += '<td class="dataCell"><a href="/' + note.CreatedById + '" target="_blank">' + note.CreatedBy.Name + '</a></td>';
         output += '<td class="dataCell DateElement">' + note.getDateTime('CreatedDate') + '</td>';
        output += '</tr>';
    }
    output += '</table>';

    //render the generated html string
    source.output.innerHTML = output;

    } else {
        source.output.innerHTML = "Nothing to display";
    }
    //alert("Inside layout..resize");
    resizeIframe();
}
        function hoverEditable(td){
            td.className = 'hoverEditable';
        }
        function resetStyle(element){
            if(element.childNodes[0].className != 'hidden') element.className = 'normal';
        }
function trim(s) {
  s = s.replace( /^\s+/g, "" );// front
  return s.replace( /\s+$/g, "" );// back
}
function formSubmit(event){
    var Ids = new Array();
    var a = document.Notes.notes;
    if(a!=null){
        if(a.length != undefined){
	        for(var i=0;i<a.length;i++){
	            if(a[i].checked){
	                a[i].value = trim(a[i].value);
	                Ids.push(a[i].value);
	            }
	        }
	    }
	    else if(a.checked && a.length == undefined){
	                a.value = trim(a.value);
	                //alert(a.value);
	                Ids.push(a.value);
	    }
        if(Ids.length > 0){
            var state = { //state required when the callback is called
                        output : document.getElementById("output"),
                        startTime : new Date().getTime()};

            var callback = {
                            //call returnCall if the request is successful
                            onSuccess: returnCall,
                            //call queryFailed if the api request fails
                            onFailure: queryFailed,
                            source: state
                           };
            sforce.connection.deleteIds(Ids,callback);
           }
           else{
               alert("No notes selected. Please select atleast one note");
           }
    }
    else{
        alert("No notes available.");
    }
}

function returnCall(result) {
    //Iterate over result array to verify success on note delete.
    var failed = new Array();
    for(var i=0;i<result.length;i++){
        if (!result[i].getBoolean("success")) {
            failed.push(result[i].id);
        }
    //       info : document.getElementById("info");
    //       info += '<font color="red">failed to create comment</font>' + result[0];
    }
    if(failed.length > 0) alert("The following notes were not deleted: " + failed);
    getNotes();
}

function setupPage(){
    getNotes();
}
</script>
</head>
<body onload="setupPage();" class="custom customTab16">
<div class="bPageTitle">
    <div class="ptBody secondaryPalette">
        <div class="content">
          <h2 class="pageDescription">Notes Manager</h2>
            <div class="blank">&nbsp;</div>
        </div>
        <br/>
           <br/>
    </div>
    <div class="ptBreadcrumb"></div>
</div>

<div class="bPageBlock bEditBlock secondaryPalette" id="ep">
	<div class="pbBody">            
            <div class="pbSubheader first tertiaryPalette" id="head_1_ep">
                 <h3>Notes Report Filters</h3>
            </div>
            <div class="pbSubsection" id="div">
                    <table class="list" border="0" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                            <td class="dataCol last">
                                <div id="output2">
                                    <table class="toolsContent">
                                          <tbody>
                                            <tr>
                                              <td>
                                                    <div class="toolsContentRight">
                                                  <div class="bSubBlock secondaryPalette">
                                                    <div class="lbBody">
                                                      <div class="bSummary">
                                                        <form name="filter" method="get" id="filter" action="javascript:filterNotes()">
                                                          <table cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                              <tr>
                                                                <td><label for="sort">Sort By:</label></td>
                                                                <td><select name="sort" id="sort">
                                                                    <option selected="selected" value="none">Default</option>
                                                                    <option value=" n.Title ">Title</option>
                                                                    <option value=" n.Parent.Name ">Parent Name</option>
                                                                    <option value=" n.Parent.Type ">Parent Type</option>
                                                                    <option value=" n.Owner.Name ">Owner Name</option>
                                                                    <option value=" n.CreatedBy.Name ">Created By</option>
                                                                    <option value=" n.CreatedDate ">Created Date</option>
                                                                    <option value=" n.LastModifiedBy.Name ">Last Modified By</option>
                                                                    <option value=" n.LastModifiedDate ">Last Modified Date</option>
                                                                  </select>
                                                                 </td>
                                                                  <td><label for="order">In Order:</label></td>
                                                                <td><select name="order" id="order">
                                                                    <option selected="selected" value="ASC">Ascending</option>
                                                                    <option value="DESC">Descending</option>
                                                                  </select>
                                                                </td>
                                                                <td><label for="isDeleted">IsDeleted:</label></td>
                                                                <td><select name="isDeleted" id="isDeleted">
                                                                    <option selected="selected" value="any">Any</option>
                                                                    <option value="true">True</option>
                                                                    <option value="false">False</option>
                                                                  </select>
                                                                </td>
                                                                <td><label for="isPrivate">IsPrivate:</label></td>
                                                                <td><select name="isPrivate" id="isPrivate">
                                                                    <option selected="selected" value="any">Any</option>
                                                                    <option value="true">True</option>
                                                                    <option value="false">False</option>
                                                                  </select>                                                               
                                                                </td>
                                                               </tr>
                                                               <tr>
                                                               <td><label for="filterField1">Filter Criteria #1</label></td><td></td>
                                                               <td><label for="filterField1">Filter Criteria #2</label></td><td></td>
                                                			   </tr>
                                                               <tr>
                                                               <td>
                                                               <select name="filterField1" id="filterField1">
                                                                    <option selected="selected" value="none">--None--</option>
                                                                    <option value=" n.Title ">Title</option>
                                                                    <option value=" n.ParentId ">Parent Id</option>
                                                                    <option value=" n.Parent.Name ">Parent Name</option>
                                                                    <option value=" n.Parent.Type ">Parent Type</option>
                                                                    <option value=" n.CreatedById ">Created By Id</option>
                  													<option value=" n.CreatedBy.Name ">Created By</option>
                  													<option value=" n.LastModifiedById ">Last Modified By Id</option>
                                                                    <option value=" n.LastModifiedBy.Name ">Last Modified By</option>
                                                                  </select>                                                               
                                                                </td>
                                                               <td><input type="text" name="filterValue1" id="filterValue1"/></td>
                                                               <td><select name="filterField2" id="filterField2">
                                                                    <option selected="selected" value="none">--None--</option>
                                                                    <option value=" n.Title ">Title</option>
                                                                    <option value=" n.ParentId ">Parent Id</option>
                                                                    <option value=" n.Parent.Name ">Parent Name</option>
                                                                    <option value=" n.Parent.Type ">Parent Type</option>
                                                                    <option value=" n.CreatedById ">Created By Id</option>
                  													<option value=" n.CreatedBy.Name ">Created By</option>
                  													<option value=" n.LastModifiedById ">Last Modified By Id</option>
                                                                    <option value=" n.LastModifiedBy.Name ">Last Modified By</option>
                                                                  </select>                                                               
                                                                </td>
                                                               <td><input type="text" name="filterValue2" id="filterValue2"/></td>
                                                               </tr>
                                                               <tr>
                                                               <td><input type="submit" title="Run Report" name="go" class="btn" value="Run Report"/></td></tr>
                                                            </tbody>
                                                          </table>
                                                        </form>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div></td>
                                            </tr>
                                          </tbody>
                                    </table>
                                </div>
                            </td>
                            <td class="labelCol empty">&nbsp;</td>
                            <td class="dataCol empty">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="labelCol empty">&nbsp;</td>
                            <td class="data2Col empty">&nbsp;
                                <!-- WrappingClass -->
                                <!-- End ListElement -->
                            </td>
                            <td class="labelCol empty">&nbsp;</td>
                            <td class="dataCol empty">&nbsp;</td>
                        </tr>
                    </tbody>
					</table>
            </div>
          
            <div class="pbSubheader first tertiaryPalette" id="head_1_ep">
                    <h3>Notes</h3>
            </div>
                    
            <div class="pbHeader">
	            <form action="javascript:formSubmit();" enctype="application/x-www-form-urlencoded" name="TopButtons" id="topbuttons" method="POST">
	            <table border="0" cellpadding="0" cellspacing="0">
	                <tbody><tr>
	                    <td class="pbTitle"><img src="AttachResumeCand_files/s.gif" alt="" class="minWidth" title="" height="1" width="1">
	                        <h2 class="mainTitle">&nbsp;</h2>
	                    </td>
	                    <td class="pbButton">
	                        <input value="Delete" class="btn" tabindex="23" title="Delete" name="delete" type="submit">
	                    </td>
	                </tr>
	            </tbody></table>
	            </form>
        	</div>
        	<div class="pbSubsection" id="div">
        		<form action="javascript:formSubmit();" enctype="application/x-www-form-urlencoded" name="Notes" id="Notes" method="POST">
                    <table class="list" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
						<tr>
                            <td class="labelCol last"></td>
                            <td class="dataCol last">
                                <div id="output"></div>
                            </td>
                            <td class="labelCol empty">&nbsp;</td>
                            <td class="dataCol empty">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="labelCol empty">&nbsp;</td>
                            <td class="data2Col empty">&nbsp;
                                <!-- WrappingClass -->
                                <!-- End ListElement -->
                            </td>
                            <td class="labelCol empty">&nbsp;</td>
                            <td class="dataCol empty">&nbsp;</td>
                        </tr>
                    	</tbody>
					</table>
				</form>
			</div>
	        <div class="pbHeader">
	            <form action="javascript:formSubmit();" enctype="application/x-www-form-urlencoded" name="BottomButtons" id="bottombuttons" method="POST">
	            <table border="0" cellpadding="0" cellspacing="0">
	                <tbody>
					<tr>
	                    <td class="pbTitle"><img src="/img/s.gif" alt="" class="minWidth" title="" height="1" width="1">
	                        <h2 class="mainTitle">&nbsp;</h2>
	                    </td>
	                    <td class="pbButton">
	                        <input value="Delete" class="btn" tabindex="23" title="Delete" name="delete" type="submit">
	                    </td>
	                </tr>
	            	</tbody>
				</table>
	            </form>
	        </div>
	</div>
	<div class="pbFooter secondaryPalette">
          	<div class="bg"></div>
	</div>           
</div>
</body>
</html>